In [1]:

##importing libraries
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment
import re
import sqlite3 as db
conn = db.connect('../src/data/my_database.db')
pd.set_option('display.max_columns', 40)

In [4]:
url_names = ["passing", "passing_types", "shooting", "possession", "defense", "gca"]
for name in url_names:
    URL = f'https://fbref.com/en/comps/9/{name}/Premier-League-Stats'
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="all_stats_passing")
    comments = soup.findAll(text=lambda text:isinstance(text, Comment))
    df = pd.read_html(comments[30], header=[0,1])[0]
    df.columns = [col[1] if "Unnamed" in col[0] else '_'.join(col) for col in df.columns.values]
    df_clean = df.drop(columns = ["RK", "Nation", "Pos", "Age", "Born", "Matches"], errors="ignore")
    df_clean = df_clean[~df_clean["Player"].str.contains("Player")]
    columns = df_clean.iloc[:,4:].columns
    for col in columns:
        df_clean[col] = df_clean[col].astype(float)
    df_clean.to_sql(name, conn, if_exists="replace")

In [129]:
conn.close()

In [5]:
#read from sql
pd.read_sql('SELECT * FROM shooting', conn)

,index,Rk,Player,Squad,90s,Standard_Gls,Standard_Sh,Standard_SoT,Standard_SoT%,Standard_Sh/90,Standard_SoT/90,Standard_G/Sh,Standard_G/SoT,Standard_Dist,Standard_FK,Standard_PK,Standard_PKatt,Expected_xG,Expected_npxG,Expected_npxG/Sh,Expected_G-xG,Expected_np:G-xG
0,0,1,Brenden Aaronson,Leeds United,26.4,1.0,41.0,9.0,22.0,1.56,0.34,0.02,0.11,18.4,2.0,0.0,0.0,3.9,3.9,0.09,-2.9,-2.9
1,1,2,George Abbott,Tottenham,0.0,0.0,0.0,0.0,NaN,0.00,0.00,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,2,3,Che Adams,Southampton,22.1,5.0,47.0,14.0,29.8,2.12,0.63,0.11,0.36,13.8,0.0,0.0,0.0,6.6,6.6,0.14,-1.6,-1.6
3,3,4,Tyler Adams,Leeds United,24.0,0.0,4.0,0.0,0.0,0.17,0.00,0.00,NaN,27.5,0.0,0.0,0.0,0.1,0.1,0.03,-0.1,-0.1
4,4,5,Tosin Adarabioyo,Fulham,23.2,1.0,16.0,4.0,25.0,0.69,0.17,0.06,0.25,21.2,1.0,0.0,0.0,0.7,0.7,0.04,0.3,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,586,565,Jordan Zemura,Bournemouth,16.2,0.0,4.0,0.0,0.0,0.25,0.00,0.00,NaN,12.9,0.0,0.0,0.0,0.4,0.4,0.10,-0.4,-0.4
565,587,566,Oleksandr Zinchenko,Arsenal,23.5,1.0,28.0,7.0,25.0,1.19,0.30,0.04,0.14,22.7,0.0,0.0,0.0,1.4,1.4,0.05,-0.4,-0.4
566,588,567,Hakim Ziyech,Chelsea,7.3,0.0,16.0,3.0,18.8,2.18,0.41,0.00,0.00,22.7,0.0,0.0,0.0,0.6,0.6,0.04,-0.6,-0.6
567,589,568,Kurt Zouma,West Ham,22.1,2.0,19.0,5.0,26.3,0.86,0.23,0.11,0.40,10.1,0.0,0.0,0.0,2.2,2.2,0.12,-0.2,-0.2
568,590,569,Martin Ødegaard,Arsenal,34.7,15.0,93.0,31.0,33.3,2.68,0.89,0.16,0.48,19.2,9.0,0.0,0.0,10.0,10.0,0.11,5.0,5.0

In [147]:
URL = f'https://fbref.com/en/comps/9/passing/Premier-League-Stats'
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="all_stats_passing")
comments = soup.findAll(text=lambda text:isinstance(text, Comment))
df = pd.read_html(comments[30], header=[0,1])[0]
df.columns.values

[    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                     Rk               Player             Nation
 0                    1     Brenden Aaronson             us USA
 1                    2        George Abbott            eng ENG
 2                    3            Che Adams            sct SCO
 3                    4          Tyler Adams             us USA
 4                    5     Tosin Adarabioyo            eng ENG
 ..                 ...                  ...                ...
 586                565        Jordan Zemura             zw ZIM
 587                566  Oleksandr Zinchenko             ua UKR
 588                567         Hakim Ziyech             ma MAR
 589                568           Kurt Zouma             fr FRA
 590                569      Martin Ødegaard             no NOR

     Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                    Pos              Squad                Age
 0                MF,FW       Leeds United                 21
 1                   MF          Tottenham                 16
 2                   FW        Southampton                 26
 3                   MF       Leeds United                 23
 4                   DF             Fulham                 24
 ..                 ...                ...                ...
 586                 DF        Bournemouth                 22
 587                 DF            Arsenal                 25
 588              FW,MF            Chelsea                 29
 589                 DF           West Ham                 27
 590                 MF            Arsenal                 23

     Unnamed: 6_level_0 Unnamed: 7_level_0 Total                               \
                   Born                90s   Cmp   Att   Cmp% TotDist PrgDist
 0                 2000               26.4   592   797   74.3    7577    2182
 1                 2005                0.0     1     1  100.0       8       0
 2                 1996               22.1   330   498   66.3    4651    1042
 3                 1999               24.0  1108  1343   82.5   16592    5061
 4                 1997               23.2  1066  1300   82.0   22623    8478
 ..                 ...                ...   ...   ...    ...     ...     ...
 586               1999               16.2   423   594   71.2    6117    3247
 587               1996               23.5  1652  1911   86.4   27023    7899
 588               1993                7.3   258   400   64.5    4222    1570
 589               1994               22.1   701   831   84.4   13480    4437
 590               1998               34.7  1449  1804   80.3   22540    6014

     Short             Medium            Long            Unnamed: 22_level_0  \
       Cmp  Att   Cmp%    Cmp  Att  Cmp%  Cmp  Att  Cmp%                 Ast
 0     346  423   81.8    150  195  76.9   25   65  38.5                   3
 1       1    1  100.0      0    0   NaN    0    0   NaN                   0
 2     205  278   73.7     78  118  66.1   26   37  70.3                   3
 3     607  686   88.5    390  460  84.8   63  107  58.9                   0
 4     265  307   86.3    653  735  88.8  136  223  61.0                   0
 ..    ...  ...    ...    ...  ...   ...  ...  ...   ...                 ...
 586   242  284   85.2    133  187  71.1   23   55  41.8                   1
 587   808  876   92.2    696  798  87.2  105  148  70.9                   2
 588   148  169   87.6     82  133  61.7   24   66  36.4                   3
 589   247  271   91.1    363  407  89.2   79  129  61.2                   0
 590   759  873   86.9    518  617  84.0  110  175  62.9                   7

     Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0  \
                     xAG                  xA               A-xAG
 0                   4.2                 2.6                -1.2
 1                   0.0                 0.0                 0.0
 2                   2.8                 2.2                +0.2
 3                   1.4                 1.0                -1.4
 4                   0.4                 0.5                -0.4
 ..                  ...                 ...                 ...
 586                 1.9                 2.1                -0.9
 587                 1.4                 2.4                +0.6
 588                 2.2                 1.5                +0.8
 589                 0.1                 0.1                -0.1
 590                 8.1                 7.9                -1.1

     Unnamed: 26_level_0 Unnamed: 27_level_0 Unnamed: 28_level_0  \
                      KP                 1/3                 PPA
 0                    46                  47                  16
 1                     0                   0                   0
 2                    24                  21                  11
 3                    24                 110                  13
 4                     6                  96                   7
 ..                  ...                 ...                 ...
 586                  18                  32                  12
 587                  19                 201                  41
 588                  14                  20                  19
 589                   1                  19                   2
 590                  76                 135                  91

     Unnamed: 29_level_0 Unnamed: 30_level_0 Unnamed: 31_level_0
                   CrsPA                PrgP             Matches
 0                     4                  86             Matches
 1                     0                   0             Matches
 2                     2                  34             Matches
 3                     0                 136             Matches
 4                     0                  95             Matches
 ..                  ...                 ...                 ...
 586                   5                  45             Matches
 587                   4                 227             Matches
 588                   7                  42             Matches
 589                   0                  31             Matches
 590                   4                 266             Matches

 [591 rows x 32 columns]]